@import url(../01.Home-page/style.css);
@import url(../02.Shop-page/shop.css);
@import url(../04.Checkout/checkout.css);

.single-product {
  height: 765px;
  display: flex;
  gap: 105px;
  margin-top: 35px;
}

.res {
  display: flex;
  gap: 24px;
}
.home-sp,
.shop-sp {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  color: #9f9f9f;

  display: flex;
  gap: 20px;
}

.home-sp span,
.shop-sp {
  font-weight: 500;
}

/* .res p {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
} */

.left-side {
  display: flex;
  gap: 31px;
  height: 730px;
}

.big-pic {
  background-color: #f9f1e7;
  height: 500px;
}

.big-pic img {
  margin-top: 75px;
}
.small-pics {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pic {
  width: 76px;
  height: 80px;
  background-color: #f9f1e7;
  border-radius: 10px;
}
.pic:first-of-type img {
  margin-top: 20px;
}

.right-side {
  height: 730px;
}

.right-side h3 {
  font-weight: 400;
  font-size: 42px;
  line-height: 63px;
}

.rs-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #9f9f9f;
}

.reviews {
  display: flex;
  gap: 22px;
  height: 30px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 13px;
}

.stars {
  height: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.stars i {
  color: #ffc700;
}

.reviews p {
  color: #9f9f9f;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
}
.line-div {
  height: 30px;
  color: #9f9f9f;
}

.rs-info {
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
}

.size-wrapper {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.size-wrapper p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9f9f9f;
}

.sizes {
  display: flex;
  gap: 16px;
}
.sizes > * {
  width: 30px;
  height: 30px;
  display: flex;
  background-color: #f9f1e7;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
}

.size-active {
  background-color: #b88e2f;
  color: #fff;
}

.color-wrapper p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #9f9f9f;

  margin-bottom: 12px;
  margin-top: 18px;
}

.colors {
  display: flex;
  gap: 16px;

  margin-bottom: 32px;
}

.color-1,
.color-2,
.color-3 {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.color-1 {
  background-color: #816dfa;
}
.color-2 {
  background-color: #000;
}
.color-3 {
  background-color: #b88e2f;
}

.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box[type="number"] {
  -moz-appearance: textfield;
}

.quantity {
  display: flex;
  gap: 18px;

  border-bottom: 1px solid #d9d9d9;
}
.quantity-wrap {
  display: flex;
  height: 64px;
  width: 123px;
  border: 1px solid #9f9f9f;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  margin-bottom: 60px;
}
.quantity .minus,
.plus {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.plus,
.minus {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.input-box {
  border: none;
  text-align: center;
  background-color: #fff;

  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.sp-add-cart {
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
  width: 215px;
  height: 64px;
  border-radius: 15px;

  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.additional-info {
  width: 150px;
  margin-top: 41px;
}

.additional-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9f9f9f;
}

.sku {
  display: flex;
  justify-content: space-between;
}

.category {
  display: flex;
  justify-content: space-between;
}
.category p:nth-child(2) {
  font-weight: 500;
}
