* {
  box-sizing: border-box;
  margin: 0;
  color: #000;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
}
.banner {
  height: 814px;
}
.navig {
  background-color: #fff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.furniroLogo {
  height: 32px;
  width: 50px;
}

.navig p:first-of-type {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 41.45px;
  color: #000;
  margin-left: 0;
  text-align: center;
}

.logoBtn-wrapper {
  /* gap: 215px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-wrapper {
  display: flex;
  margin-left: 54px;
  /* height: 41px; */
  align-items: center;
}

.cart {
  width: 24.5px;
  height: 22px;
  margin-right: 102px;
  cursor: pointer;
}

.shopping-cart {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.shopping-cart.no-show {
  display: none;
}

.fa {
  color: #9f9f9f;
}

.shopping-cart-wrapper {
  background-color: #fff;
  width: 417px;
  height: fit-content;
  /* padding-left: 27px;
  padding-right: 22px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  /* position: relative; */
}

.fa-shopping-bag {
  position: absolute;
  top: 1%;
  right: 5%;
  cursor: pointer;
}

.fa-times-circle {
  position: absolute;
  right: 5%;
  top: 3%;
  margin-top: 15px;
  visibility: hidden;

  /* cursor: pointer; */
}

.shopping-cart-wrapper h3 {
  width: 365px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 28px;
  padding-bottom: 26px;
  margin-bottom: 45px;
  margin-left: 27px;
  /* position: absolute; */
}

.shopping-cart-buttons {
  margin-bottom: 28px;
  display: flex;
  gap: 14px;
  margin-left: 27px;
}

.shopping-cart-buttons a {
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 50px;
  cursor: pointer;
  padding: 6px 30px;
  margin-top: 26px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.line-div {
  border: 1px solid #d9d9d9;
}
.shopping-cart-total {
  display: flex;
  /* justify-content: space-around; */
  margin-left: 27px;
  gap: 200px;
  margin-bottom: 23px;
  margin-top: 60px;
}
.shopping-cart-total p:first-of-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.shopping-cart-total p:last-of-type {
  color: #b88e2f;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.shopping-cart-products {
  position: relative;
  display: flex;
  flex-direction: column;

  gap: 20px;

  margin-top: 5px;
}

.cart-product {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 32px;
  margin-left: 27px;
}

.cart-product-info p:first-of-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.cart-product-info p:last-of-type {
  color: #b88e2f;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.cart-product-info span:first-of-type {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.cart-product-info span:last-of-type {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  margin-left: 15px;
  margin-right: 15px;
}

.btns-wrapper {
  width: 165px;
  height: 24px;
  display: flex;
  align-items: center;
  margin-left: 266px;
  justify-content: space-between;
}

.btns-wrapper a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000;
}

.hero {
  background-image: url(../imgs/ammar-abu-zaid-2a70aGTDHOk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: flex-end;
}

.boxing {
  width: 643px;
  height: 443px;
  border-radius: 10px;
  background-color: #fff3e3;
  padding: 62px 43px 37px 39px;
  /* position: absolute;
    right: 58px;
    top: 252px; */
  margin-right: 58px;
  margin-top: 157px;
  margin-bottom: 116px;
}

.discover-box p:first-of-type {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3px;
  color: #333;
}

.discover-box h2 {
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  color: #b88e2f;
  margin-bottom: 17px;
}

.discover-box p:last-of-type {
  font-weight: 500;
  font-size: 18px;
}

.discover-box button {
  width: 222px;
  height: 74px;
  background-color: #b88e2f;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-top: 46px;
}

main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #3a3a3a;
  margin-top: 59px;
  margin-bottom: 32px;
}

/* Our products */

.row {
  /* width: 285px; */
  display: flex;
  flex-wrap: wrap;
}

.products-wrapper {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.col-wrapper {
  margin-left: 0;
  padding: 0;
  position: relative;
  width: 285px;
}

.col-wrapper:hover {
  cursor: pointer;
}

.col-wrapper:hover .hover-wrapper {
  visibility: initial;
}
.row {
  margin-bottom: 32px;
}
.product-card {
  background-color: #f4f5f7;
  width: 285px;
  height: 446px;
  position: relative;
  z-index: 1;
  /* border: 1px solid #000; */
}

.product-card img {
  width: 100%;
  object-fit: cover;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover-wrapper {
  background-color: rgba(58, 58, 58, 0.7);

  width: 285px;
  height: 446px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  z-index: 2;

  /* schimbari pentru add to cart */
  /* height: 220px; */
  /* top: 225px; */
}

.wrapper-box {
  margin-top: 125px;
  width: 252px;
  height: 96px;
}
.wrapper-box button {
  background-color: #fff;
  border: none;
  width: 202px;
  height: 48px;
  margin-left: 25px;
  margin-bottom: 24px;
}

/* .wrapper-box button a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #e89f71;
} */
.wrapper-box .hover-add-to-cart {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #e89f71;
  cursor: pointer;
}

.hover-actions {
  display: flex;
  justify-content: space-around;
}

.icons {
  color: #fff;

  display: flex;
}

.icons p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  margin-left: 4px;
}

.icons i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  padding: 30px 20px 30px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h3 {
  height: 80px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  margin-bottom: 30px;

  text-align: center;
}
.info > p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #898989;
  margin-bottom: 8px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
}
.price p:first-child {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
.discount {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #b0b0b0;
  text-decoration: line-through;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 81px;
  margin-top: 32px;
}

.show-more {
  text-align: center;
  /* margin-bottom: 81px; */
  border: 1px solid #b88e2f;
  color: #b88e2f;
  background-color: #fff;
  width: 245px;
  height: 48px;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
}

/* FOOTER */

footer {
  border-top: 1px solid rgba(0, 0, 0, 17%);
}

footer .container {
  margin-top: 48px;
  /* margin-bottom: 70px; */
}

footer .usefull h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 50px;
}

.usefull p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9f9f9f;
}

.col h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9f9f9f;
  height: 36px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
  cursor: pointer;
}

li {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 45px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links h4 {
  width: 65px;
}

.reserved {
  border-top: 1px solid #d9d9d9;
  margin-bottom: 0;
}
.rights {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  padding-left: 0;
  padding-top: 35px;
  padding-bottom: 38px;
  /* margin-top: 35px; */
}
.subscribe-wrapper {
  display: flex;
  gap: 11px;
}
.subscribe-wrapper .subs {
  border: none;
  border-bottom: 1px solid black;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  background-color: #fff;
  cursor: pointer;
}

.subscribe-wrapper input {
  border: none;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9f9f9f;
}
/* Media querry */
/* @media screen and (max-width: 1440px) {
  .hero {
    background-image: url(./imgs/scandinavian-interior-mockup-wall-decal-background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
} */
